<h2>All Historical Landmarks</h2>


<ul>
<% @landmarks.each do |landmark| %>
  <li>
    <a href="/landmarks/<%= landmark.id %>">
      <%= landmark.name %> 
    </a>
  </li>
<% end %>
</ul>

<button>
  <a class="button" href="/figures">Figures</a>
</button>

<br>

<button>
  <a class="button" href="/">Home</a>
</button>

